/*°°°°° ESTE DISEÑO ES MOBILE FIRST °°°°°°°°°°°°°°°*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*°°°°°°°°°°°°°°°°°° CLASES PARA MEDIAQUERIS °°°°°°°°°*/

.desktop{
    display: none;
}

.ItemGaleria{
    display: none;
}
.itemGaleria{
    display: none;
}
/* ARREGLARFUENTEEEEEEEEEEEEEEE */


html{
    min-height: 100%;
    font-family: "Nexa Light";
    font-size: 12px;
}

body{
    min-height: 100vh;
    background-color: #000;
    position: relative; 
    padding-bottom: 25rem;
    overflow-x: hidden;

    font-size: 8px;
    background-color: rgb(227, 227, 227);

    color: #000;
}

 a {
    color: #000;
    overflow-y: hidden;
}


/*°°°°°°°°°°°°°°°°° HEADER °°°°°°°°°°°°°°°°° */
/* MOBILE HEADER*/
.contCabeceraMobile{
    display: flex;
    width: 100vw;
    height: 93px;
    padding: 1.5rem 1.5rem;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    justify-content: center;
    align-content: center;

    background-color: #fff;
}

.logoMobile{
    flex-grow: 3;
}
.itemCabeceraMobile {
    width: 80%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    object-fit: contain;
    background-repeat: no-repeat;

}
/*°°°°°°°°°°°°°°°°° NAV MOBILE°°°°°°°°°°°°°°°°° */
.menuHamb{
    
}

.navMobile ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* nav li */
.navMobileItem{
    display: none;
    padding: 1em;

}
/* nav li a */
.navMobileEnlace{
    display: none;
    background-color: gray;
    font-size: 1.2rem;
}

/* MAIN */
main{
    position: relative;
    top:93px;
}
 /*°°°°°°°°°°°°°°°°°° BANNER °°°°°°°°°°°°°°°°°°  */
 .bannerMobile{
    width: 100%;
    height: fit-content;
    display: flex;
    
    margin: auto;
    justify-content: center;
    overflow-y: hidden;
    background-color: #000;
}

.bannerMobile img{
    width:96vw;
    height:250px;
    object-fit: cover;
    border-radius: 30%;
    background-color:#000;
}
 /*°°°°°°°°°°°°°°°°°° MAIN TEXTO °°°°°°°°°°°°°°°°°°  */
/* Se estima que esta clase sea manejada con rem y estilizada por los mediaqueris */
.titulo{
    font-family: sans-serif;
    font-size: 2.5rem; 
    font-weight: 700;
    line-height: 48px;
    margin: 4vh 0;
}

.subtitulo{
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    vertical-align: middle;
}

.anuncio{
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.cuerpo{
    font-weight: 300;
    font-size: 1.3rem;
    text-align: start;
    line-height: 2;
}

.contTextoPrimerBloque{
    width: 80vw;
    margin: 4rem 10vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*°°°°°°°°°°°°°°°°°° MAIN CONTENIDO °°°°°°°°°°°°°°°°*/
/* Las clases del main estan pensadas para que sirvan en todos los mediaqueris (en teoria Lisa, en teoria) */

.contMainInfo{
    width:90%;
    height: 70vh;
    margin: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainVideo{
    order: 1; 
} 

.mainVideo iframe{
    width: 320px;
}

.himno{
    align-items: center;
    vertical-align: middle;
    padding: 3rem;
    order: 0;
}

.mainInfoLocal{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 2rem 2.5rem;
    
    order: 2;
}
.enlaceWsp{
    font-size: 1.5rem;
    line-height: 2;
    outline: none;
    text-decoration: none;
    width: 280px;
    height: fit-content;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color:#B84C86;
    border-radius: 10px;
    padding: 2px 12px;   
    margin: 3rem auto;

    order: 3;

}

.fondoGaleriaMobile{
    display: none;
}

.galeriaMobile{
    background: url(./asses/mobile/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 10vh 0;

    border-radius: solid 2px red;
}

.itemGaleriaWide, .newsletter{
    position:relative;
    width: 100vw;
    padding: 5% 1vh;
    height: fit-content;
    margin: auto;
}
.itemGaleriaWide img , .fondoGaleriaMobile img , .newsletter img{
    width: 100%;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-repeat: no-repeat;
}

.itemEscrito{
    width: 70%;
    height: fit-content;
    z-index: 300;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18%;
    right: 2vh;
    align-items: flex-end;
    justify-content: end;
    font-size: 1.8rem;
    padding-right: 5px;
}

.tituloAnuncioGaleria{
z-index: 32;
font-family: 'Nexa Bold';
font-style: normal;
font-weight: 700;
font-size: 2.6rem;
line-height: 66%;
padding: .2rem;

background: linear-gradient(90deg, #FF5C2F 13.57%, #FFC967 34.69%, #FBAE42 51.85%, #FFEFA0 67.91%, #9AD3A4 78.03%, #B3B6EB 92.77%, #D1BDE8 102.74%), linear-gradient(90deg, #9B2116 -1.66%, rgba(0, 208, 21, 0) 102.74%);

-webkit-text-fill-color: transparent;
/* -webkit-background-clip: text; */
/* solucionar error de consola */

}


/* ================ Formularios ================ */
.mainForm{
    display: none;
}

footer{
    background-color: #B54790;
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 4rem;
    padding-top: .8rem;
    color: white;
    margin: auto;
    align-items: center;
    vertical-align: center;
    overflow-y: hidden;
    font-size: 1.2rem;
}
.footerItems{
    flex-grow: 1;
}

footer div{
    width: fit-content;
    height: 100%;
    padding: 0;
    flex-grow: 1;

}
footer div:first-child{
    flex-grow: 4;
}

footer > div > img{
    width: 100%;
}



/* VENDER */

.mainVender{
    width: 90%;
    padding: 5%;
    display: flex;
    align-items: center;
    border: solid 4px white;
    margin: 3rem auto;
    border-radius: 40px;
}

.mainVender > p{
    width: 100%;
    flex-grow: 1;
    margin: auto 3rem;
}

.contPeticion{
    width: 90vw;
    padding:3rem 5vw
}