@import url(//db.onlinewebfonts.com/c/12108809f49c49bcdc126dcecc938761?family=Nexa+Light);

* {
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 14px;
}

body {
    font-family: "Nexa Light"; 
    background-color: rgb(255, 255, 255);
    color: dark;
}

.desktop{
    display:none;
}

header {
  padding: 10px;
}

.imgLogo{
    width: 30vw;
    height: auto;
    object-fit: cover;
}
.navbar {
  position: sticky;
  top: 0;
}
.navbar__container {
  font-size: 1.5rem;
}
.navbar-dark .navbar-nav {
  color: #171616;
}
.navbar-collapse {
  flex-grow: initial;
}

.nav-link {
    font-size: 1.5rem;
    background-color: #000;
    color: #fafafa;
    display: flex;
    justify-content: center;
}

.navbar-toggler{
    background-color: #000;
    color: #fafafa;
    padding: .5rem;
}
@media screen and (min-width: 991px){
    body{
        position:absolute;
        background-color: #000;
        color: #fafafa;
    }
    header{
        width: 100vw;
        padding: 0;
    }
    .desktop{
        display:block;
    }
    .mobile{
        display: none;
    }
    
    html{
        font-size: 22px;
    }
    .cabecera{
        width: 100%;
        padding: 0 3rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #fafafa;
      }
}